@media (max-width: 1200px){
    .category {
        grid-template-columns: repeat(2, 1fr);
    }

    .category-card__photo{
        width: 75rem;
        max-width: 100%;
    }
}

@media (max-width: 992px) {

    body {
        overflow-x: hidden;
    }

    .container {
        padding-inline: 2rem; 
    }

    .events_container,
    .footer_container,
    .home_container,
    .stocks_container,
    .new_container,
    .popular_container,
    .restaurants_container
    { 
        padding-inline: 2rem; 
    }

    .category-card__photo{
        width: 28rem;
        max-width: 100%;
    }

    .hamburger {
        display: block;
        position: relative;
        padding: 10px;
        background: transparent;
        border: 1px solid transparent;
        margin: 7px 0;
        top: 50%;
        z-index: 3003;
    }

    .hamburger:focus {
        outline-width: 0;
      }

    .hamburger [class*='bar-'] {
        background: var(--color-background-secondary);
        display: block;
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        -webkit-transition: .2s ease all;
        transition: .2s ease all;
        border-radius: 0.25rem;
        height: 0.25rem;
        width: 1.625rem;
        margin-bottom: 0.25rem;}

    .hamburger .bar-bot {
        margin-bottom: 0;
        }

    body.menu-opened  .bar-top {
        -webkit-transform: rotate(45deg);
                transform: translateY(2px) rotate(45deg);
        -webkit-transform-origin: 15% 15%;
                transform-origin: 15% 15%;
        background: var(--color-text-secondary);
    }
    body.menu-opened .bar-mid {
        opacity: 0;
    }
    body.menu-opened .bar-bot {
        -webkit-transform: rotate(45deg);
                transform: translateY(-2px) rotate(-45deg);
        -webkit-transform-origin: 15% 95%;
                transform-origin: 15% 95%;
        background: var(--color-text-secondary);

        
    }

    header {
        position: sticky;
        z-index: 3001;
        width: 100%;
        top: 0;
        padding-top: 3rem;
    }

    .banner{
        z-index: 3003;
    }

    .nav__right{
        display: none;
    }

    .menu {
        position: fixed;
        height: 100%;  
        top: 0px;
        right: 0px;
        bottom: 0; 
        padding: 75px 60px 20px;
        width: 320px;
        background-color: #F9C201;
        display: flex;
        flex-direction: column;
        transform: translateX(100%);
        opacity: 0;
        transition: transform .5s;
        z-index: 3002;  
    }

    .menu.shift-up {
        top: 0;
    }

    .nav__list{
        display: block;
        padding: 20px;
        margin: 0;
        z-index: 3000;
    }


    .nav__link{
        display: block;
        padding: 20px 0px;
        text-align: left;
        font-size: var(--font-size-base);
        transition: transform 0.25s ease;
    }

    .nav__link:hover{
        color: var(--color-background-secondary);
    }
    .nav__link:focus{
        transform: scale(1.05); 
    }
    .nav__link:focus{
        text-decoration: underline;
    }

    body.menu-opened .overlay {
        opacity: 1;
        pointer-events: auto;
    }

    body.menu-opened .menu{
        transform: translateX(0);
        opacity: 1;
    } 
    body.menu-opened{
        overflow-y: hidden;
    }
    .category {
        grid-template-columns: repeat(2, 1fr);
    }

    .promotion {
        grid-template-columns: repeat(2, 1fr);
    }

    .promotion-card__title{
        font-size: var(--font-size-medium);
        bottom: 2rem;
        left: 1rem;
        font-weight: var(--font-weight-bold);
        color: var(--color-background-primary);
        line-height: 2.5rem;
        z-index: 2;
        margin: 0;
    }

    .footer-socials__item--telegram,
    .footer-socials__item--vk,
    .footer-socials__item--whatsapp{
        width: 2.5rem;                 
        height: 2.5rem;
    }


    .footer__icon{
        width: 1.5rem;                 
        height: 1.5rem;
    }

    .nav__list--footer{
        flex-direction: column;
    }

    .category-card__newbutton{
        width: 100%;
    }

    .footer__copyrights{
        justify-content: center;
        align-items: center;
    }

    .conditions {
        justify-content: center;
        align-items: center;
    }
    
    .promotion-card__labels{
        left: 1rem;
    }

}

@media (max-width: 768px) {
    .category {
        grid-template-columns: repeat(1, 1fr);
    }

    .promotion {
        grid-template-columns: repeat(1, 1fr);
    }
    .category-card__photo{
        width: 44rem;
        max-width: 100%;
    }

    .banner__text{
        font-size: var(--font-size-base);
        margin-left: 1rem;
    }


}

@media (max-width: 576px) {
    .category {
        grid-template-columns: repeat(1, 1fr);
    }

    .promotion {
        grid-template-columns: repeat(1, 1fr);
    }
    .category-card__photo{
        width: 40rem;
        max-width: 100%;
    }

    .footer__nav {
        display: flex;
        justify-content: space-between; 
        flex-direction: column;
        gap: 0.75rem;
        align-items: center;
        padding: 0;
        margin: 0 auto;
        width: 100%;
    }

    .footer__nav-logo{
        justify-content: center;
    }

    .conditions__link{
        text-align: center;
    }

    .footer__info{
        gap: 1rem;
    }

    .footer-socials{
        flex-wrap: wrap;
    }

    .footer__info{
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer__markets{
        justify-content: center;
    }

    .footer_container{
        padding-block: 1rem;    
        padding-inline: 3rem; 
    }

    .footer__final-info{
        text-align: center;

    }

    .promotion-card__labels{
        left: 1rem;
    }

    .banner__text{
        margin: 1rem;
        margin-right: 0;
    }

}
