:root {
    --color-text-primary: #727272;
    --color-text-secondary: #555555;
    
    --color-background-primary: #fff;
    --color-background-secondary: #1C1C1C;
    --color-background-tertiary: #F4F4F4;

    --color-footer-primary: #A6A6A6;
    --color-footer-backround: #393939;
    
    --color-accent-yellow: #FEDD2C;
    
    --layout-wrap-width: 100rem;
    --layout-container-max-width: 90rem;
    
    --font-weight-normal: 400;
    --font-weight-bold: 600;
    --font-size-large: 32px;
    --font-size-medium: 24px;
    --font-size-base: 16px;
    --font-size-small: 14px;
    
    --gap-xs: 0.5rem;
    --gap-sm: 1rem;
    --gap-md: 1.5rem;
    --gap-lg: 2rem;

    --border-radius-sm: 0.25rem;
    --border-radius-md: 0.5rem;
    --border-radius-lg: 1rem;
}