.category-card__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
    text-decoration: none;
}

.category-card__text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 2.8em;
    color: var(--color-text-primary);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-normal);
    padding: 0;
    margin: 0;
    line-height: 1.5rem;
}

.vegetarian-icon {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 2.25rem;
    height: 2.25rem;
    z-index: 3;
}

.seafood-sharp {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    display: flex;
    gap: 0.5rem;
    z-index: 3;
}

.sharp-icon,
.seafood-icon {
    width: 2.25rem;
    height: 2.25rem;
}

h4 {
    font-size: 1.125rem;
    font-weight: var(--font-weight-bold);
    padding: 0;
    margin: 0;
    line-height: 1.5rem;
}

.promotion-card__badges {
    position: absolute;
    top: 2rem;
    left: 2rem;
    display: flex;
    gap: 0.5rem; 
    z-index: 2;
  }

.promotion-card__date,
.promotion-card__time,
.promotion-card__discount {
    padding: 0.5rem 0.75rem;
    background: rgba(0, 0, 0, 0.6);
    border-radius: var(--border-radius-md);
    line-height: 1.25rem;
    color: var(--color-background-primary);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
}

.promotion-card__discount {
    background: rgba(0, 0, 0, 0.6); 
}

.promotion-card__title {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
    color: var(--color-background-primary);
    line-height: 2.5rem;
    z-index: 2;
    margin: 0;
}

.promotion-card__event--soon,
.promotion-card__event--closed,
.promotion-card__event--opened {
    position: absolute;
    top: 2rem;
    right: 2rem;
    padding: 0.5rem;
    border-radius: var(--border-radius-md);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
    z-index: 2;
    line-height: 1.25rem;
}

.promotion-card__event--soon {
    background: var(--color-accent-yellow);
    color: var(--color-background-secondary);
}

.promotion-card__event--closed {
    background: var(--color-text-primary);
    color: var( --color-background-primary);
}

.promotion-card__event--opened {
    background: var(--color-accent-yellow);
    color: var(--color-background-secondary);
}