.category {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gap-lg);
    list-style: none;
    margin: 0;
    padding: 0;
}

.category-card__link {
    display: contents;
    text-decoration: none;
    color: inherit;
}

.category-card {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 1rem;
    gap: var(--gap-sm);
    text-decoration: none;
}

.category-card__photo {
    width: 100%;
    height: 19rem;
    object-fit: cover;
    border-radius: 1rem;
}

.category-card::after {
    width: 100%;
    height: 19rem;
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: var(--border-radius-lg);
    pointer-events: none;
}

.category-card span {
    position: absolute;
    top: 16rem;
    left: 1rem;
    color: var(--color-background-primary);
    z-index: 2;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
}