.banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-background-secondary);
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    margin: 0 auto; 
    transition: transform .3s ease;
}


.banner.hidden {
    transform: translateY(-100%);
    overflow: hidden;
}

.banner__text {
    font-size: 1.125rem;
    font-weight: var(--font-weight-bold);
    color: var(--color-background-primary);
    line-height: 1.5rem;
}

.hamburger {
    display: none;
}


.close-icon {
    display: none;
}

.xmark-icon {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.xmark-icon svg {
    width: 24px;
    height: 24px;
    color: var(--color-background-primary);
}

header {
    position: sticky;
    top: 0;
    padding-top: 3rem;
    width: 100%;
    z-index: 1000;
    background: linear-gradient(to right, #FEDD2C, #F9C201);
    transition: padding-top .3s ease; 
}

.header-wrapper{
    margin: 0 auto;
    width: 100%;
    padding-inline: var(--space-lg);
}


header.shift-up {
    padding-top: 0;          
}

.logo {
    width: 8.5625rem;
    height: 1.375rem;
    flex-shrink: 0;
    margin-right: 1rem;
}

.nav__list,
.footer__nav-list {
    list-style: none;
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding: 0;
    gap: var(--gap-md);

}

.footer__nav-list{
    gap: var(--gap-lg);
    margin: 0 auto;
}

.nav__link,
.footer__nav-link{
    display: inline-block; /* или inline-flex */
    white-space: nowrap;
    text-align: center;
    font-weight: var(--font-weight-bold);
    padding: 0.75rem 0;
    text-decoration: none;
    color: var(--color-text-secondary);
    font-size: var(--font-size-base);
    text-align: center;
    line-height: 1.5rem;
    transition: color 0.2s ease;
}

.footer__nav-link{
    padding: 0;
    color: var(--color-background-tertiary);
    transition: color 0.2s ease;
}

.nav__link:hover{
    color: var(--color-background-secondary);
}

.footer__nav-link:hover{
    color: var(--color-text-muted);
}

.nav-right {
    display: flex; 
    justify-content: space-between ; 
    width: 100%;  
    gap: 1.5rem;
    max-width: 23.75rem; 
    align-items: center; 
    margin-left: 1rem;
}

.controls {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    max-width: 8rem;
    width: 100%;
}

.controls__link {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.icon-cart { 
    display: inline-flex;
    width: 3.5rem;                 
    height: 3rem;
    border-radius: var(--border-radius-lg);       
    background-color: var(--color-background-secondary);
    transition: background-color 0.2s ease;
}

.icon-cart svg {
    width: 24px;
    height: 24px;
    color:var(--color-background-primary);
    transition: color 0.3s ease;
}

.icon-cart:hover{ 
    background-color: var(--color-background-primary);
}

.icon-cart:hover svg{ 
    color: var(--color-background-secondary);
}

.icon-profile {
    color: var(--color-background-secondary);
    transition: color 0.3s ease;
}

.icon-profile:hover{
    color: var(--color-background-primary);
}

.controls svg {
    display: block;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-shrink: 0;
}

.contacts__p {
    font-size: var(--font-size-very-small);
    font-weight: var(--font-weight-normal);
    color: var(--color-text-secondary);
    margin: 0;
    line-height: 1rem;
}

.contacts__a {
    font-family: 'Inter';
    font-size: 1.125rem;
    text-decoration: none;
    color: var(--color-text-secondary);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    line-height: 1.5rem;
    transition: color 0.2s ease;
}

.contacts__a:hover{
    color: var(--color-background-secondary);
}


@media (max-width: 992px) {

    .header-wrapper{
        padding-inline: var(--space-md);
    }
    .hamburger {
        display: block;
        position: relative;
        padding: 10px;
        background: transparent;
        border: 1px solid transparent;
        margin: 7px 0;
        top: 50%;
        z-index: 3003;
    }

    .hamburger:focus {
        outline-width: 0;
      }

    .hamburger [class*='bar-'] {
        background: var(--color-background-secondary);
        display: block;
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        -webkit-transition: .2s ease all;
        transition: .2s ease all;
        border-radius: 0.25rem;
        height: 0.25rem;
        width: 1.625rem;
        margin-bottom: 0.25rem;}

    .hamburger .bar-bot {
        margin-bottom: 0;
        }

    body.menu-opened  .bar-top {
        -webkit-transform: rotate(45deg);
                transform: translateY(2px) rotate(45deg);
        -webkit-transform-origin: 15% 15%;
                transform-origin: 15% 15%;
        background: var(--color-text-secondary);
    }
    body.menu-opened .bar-mid {
        opacity: 0;
    }
    body.menu-opened .bar-bot {
        -webkit-transform: rotate(45deg);
                transform: translateY(-2px) rotate(-45deg);
        -webkit-transform-origin: 15% 95%;
                transform-origin: 15% 95%;
        background: var(--color-text-secondary);

        
    }
    header {
        position: sticky;
        z-index: 3001;
        width: 100%;
        top: 0;
        padding-top: 3rem;
    }

    .banner{
        z-index: 3003;
    }

    .nav-right{
        display: none;
    }

    .nav {
        position: fixed;
        height: 100%;  
        top: 0px;
        right: 0px;
        bottom: 0; 
        padding: 75px 60px 20px;
        width: 320px;
        background: linear-gradient(to right, #FBCD13, #F9C201);
        display: flex;
        flex-direction: column;
        transform: translateX(100%);
        opacity: 0;
        transition: transform .5s;
        z-index: 3002;  
        overflow-y: auto; 
    }

    .nav.shift-up {
        top: 0;
    }

    .nav__list{
        display: block;
        padding: 20px;
        margin: 0;
        z-index: 3000;
    }


    .nav__link{
        display: block;
        padding: 20px 0px;
        text-align: left;
        font-size: var(--font-size-base);
        transition: transform 0.25s ease;
    }

    .nav__link:hover{
        color: var(--color-background-secondary);
    }
    .nav__link:focus{
        transform: scale(1.05); 
    }
    .nav__link:focus{
        text-decoration: underline;
    }

    body.menu-opened .nav{
        transform: translateX(0);
        opacity: 1;
    } 
    .footer__nav-list{
        flex-direction: column;
        gap: var(--gap-md)

    }

}

@media (max-width: 768px) {
    .banner__text{
        font-size: var(--font-size-base);
        margin-left: 1rem;
    }
}

@media (max-width: 576px) {

    .header-wrapper{
        padding-inline: var(--space-sm);}

    .banner__text{
        margin: 1rem;
        margin-right: 0;
    }
    .footer__nav-list{
        flex-direction: column;
        gap: var(--gap-sm)

    }

}
